@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --maincolor: #1446DE;
    --textcolor: #212121;
    --hovercolor: #08D3D3;
    --accentcolor: #FF6B00;
    --main-font: 'sans-serif';
    --font-size-h1: 48px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-h4: 16px;
  
  }


body {
  color: var(--textcolor);
  font-family: --main-font;
}

hh1 {
  font-family: var(--main-font);
  font-size: var(--font-size-h1);
  font-weight: bold;
}
hh2 {
  font-family: var(--main-font);
  font-size: var(--font-size-h2);
  font-weight: bold;
}
hh3 {
  font-family: var(--main-font);
  font-size: var(--font-size-h3);
  font-weight: bold;
}
hh4 {
  font-family: var(--main-font);
  font-size: var(--font-size-h4);
}
.itemsList {
  display: flex;  /* フレックスボックスを使用 */
  justify-content: center;/* 要素間のスペースを均等に配置 */
  list-style: none;  /* デフォルトのリストスタイルを削除 */

}
/*リセット*/
body,hh1,hh2,hh3,hh4,.itemsList{
  margin: 0;
  padding: 0;
  list-style: none;
}
*,*::before,*::after{
  box-sizing:border-box;
}
a{
  color: inherit;
  text-decoration: none;
}